h2 {
    margin: 0;
    padding: 0;
    border: 0;
}
body {
    background-color: #f4f4f4;
}
#title {
    padding-bottom: 1%;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
#header {
    background-color: #ffffff;
    padding-bottom: 5%;
    border-bottom: 3px solid #ececec;
}
#uploadHandler {
    position: absolute;
    left: -7000px;
}
#spaceInfo {
    height: 5%;
}
#info {
    color: #aaaaaa;
}
#donate {
    position: fixed;
    bottom: 2%;
    right: 2%;
}
#logoLocation {
    padding-bottom: 0;
    margin-bottom: 0;
}